<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login / Secrets</title>
    <link rel="stylesheet" href="./source/style.css" />
  </head>
  <body>
    <div class="home container">
      <h1>Login</h1>
      <form class="login" action="/login" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button class="loginsubmit" type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
