<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register / Secrets</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./source/style.css" />
  </head>
  <body>
    <div class="home container">
      <h1>Register</h1>
      <form class="login" action="/register" method="post">
        <input type="email" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button class="loginsubmit" type="submit">Register</button>
      </form>
      or
      <div class="google">
        <a href="/auth/google" role="button"
          ><i class="fa-brands fa-google"></i>&nbsp;&nbsp; Continue with
          Google</a
        >
      </div>
    </div>
  </body>
</html>
